@import './components/Branch.css';
@import './components/Commit.css';
@import './components/Loader.css';
@import './components/ProjectSelect.css';
@import './table.css';

.mainContainer {
    color: #5461ff;
    text-align: center;
}

ul {
    margin-bottom: 5px;
    margin-top: 5px;
}

.Project-name {
    text-align: center;
}
