.mainContainer {
    color: #5461ff;
    text-align: center;
}

.Loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}