.table__projects {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    font-family: arial, sans-serif;
}

.table__projects tr:first-child th {
    background: #F79361;
    border-right: 1px solid #F79361;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    color: black;
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    margin: 0;
}

.table__projects td, .table__projects th {
    border: 1px solid #C8C8C8;
}

.table__projects th {
    text-align: center;
    font-size: 18px;
}